@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #291914;
    
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #767435;
    background-image: linear-gradient(90deg, #FAFAFA, rgb(255 177 0),#e71e1e);
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    height: 10vh;
    font-family: 'Playfair Display', serif;
}
.heading h1{
    color: #3E2723;
}

#text-input{
    position: absolute;
    top: 150px;
}

.inputbutton{
    
    display: flex;
    justify-content: center;
}
.sudoku-input{
    text-align: center;
    font-size: 20px;
    width: 40px;
    height: 40px;

}

#error-msg{
    
    
    color: red;
    text-align: center;
}

.up-side{
    display: flex;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 30px;
    justify-content: center;
}

.grid{
    border-bottom: 3px solid yellow;
    border-top: 3px solid yellow;
    border-right: 3px solid yellow;
    border-left: 3px solid yellow;
}

.C1, .C2, .C3,.C4,.C5,.C6,.C7,.C8,.C9, .F1, .F2,.F3,.F4,.F5,.F6,.F7,.F8,.F9{
    border-bottom: 3px solid yellow;
}

.A3,.B3,.C3,.D3,.E3,.F3,.G3,.H3,.I3,.A6,.B6,.C6,.D6,.E6,.F6,.G6,.H6,.I6{
    border-right: 3px solid yellow;
}

input[type=button]{
    padding: 5px;
    width: 95px;
    font-size: 24px;
    margin: 5px;
    background: yellow;
    border-radius: 10px;
}

#loadNewBoard-button{
    width: 140px;
}